body {
  font-family: sans-serif;
  background: linear-gradient(to right, #04385b , #eaf3f9);
}

p {
  font-size: .95em;
}

b {
  color: #04385b;
}

.jumbotron {
  font-size: 50px;
  color: #04385b;
}

h2 {
  font-size: 20px;
  margin-left: 3px;
}

h3 {
  font-size: 30px;
  font-weight: bold;
  color: #04385b;
}

h4 {
  font-size: 20px;
  color: #04385b;
}

.panel {
  border: 1px solid #04385b;
  border-color: #04385b;
}

.panel-info {
  border-color: #04385b;
  background-color: #04385b;
}

.panel-info > .panel-heading {
  background-color: #04385b;
}

.panel-title {
  border-color: #04385b;
  background-color: #04385b;
}

.panel-heading {
  border-color: #04385b;
  background-color: #04385b;
}

.white {
  background-color: #FFFFFF;
}

.lightcolor {
  background-color: #eaf3f9;
}

.darkcolor {
  background-color: #04385b;
}

.buffer {
  padding: 15px;
}

.section-title {
  font-weight: bold;
  color: #eaf3f9;
}

.main-title {
  font-weight: bold;
  color: #04385b;
}


.left {
  float: left;
}

.right {
  float: right;
}

.header {
  margin: 5px;
}

img.logo {
  padding: 5px;
  float: right;
  width: 150px;
}

.btn-dark {
  color: #fff;
  background-color: #04385b;
  border-color: #04385b;
